/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* smartphones, Android phones, landscape iPhone */
/* ================================================== **
**                  Table of Contents                 **
** ================================================== */
/*
          1) Common Styles
            1.1) Buttons
            1.2) Form
            1.3) Navbar
            1.4) Widget
            1.5) Inner Slider
            1.6) Modal
          2) Landing Page
            2.1) Top Bar
            2.2) Header
            2.3) Slider
            2.4) Content
            2.5) subscribe
          3) Footer
          4) About Page
          5) Contact Page
          6) News Page
          7) Single Team Page
          8) Tickets Page
          9) Fixture and Results Page
          10) Login / Register Page
          11) Gallery
          12) Single Player






*/
/* ==================================================
**                1.Common Styles
** ================================================== */
body {
  font-family: "Open Sans", sans-serif;
  color: #6D6D6D;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

a, a:hover {
  text-decoration: none; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

img {
  max-width: 100%; }

.content {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #F0F0F0; }
  .content p {
    text-align: justify;
    font-size: 15px; }

.section-title {
  margin-top: 65px;
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #2C3544; }

.section-subtitle {
  text-align: center !important;
  font-weight: 600;
  margin-bottom: 40px; }

  .no-data {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 25px;
      color: #ccc;
  }
.nav>li>a.user-profile {
  display: none;
}
.sidebar-section #results {
    display: none;
}
  /* ==================================================
  **                 Alert
  ** ================================================== */
  .alert span {
    display: block;
    max-width: 89%;
  }
  .alert-danger {
    background: #F55A4E;
    color:white;
    font-weight:bold;
  }
  .alert.alert-success {
    background-color: #5cb860;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  }
  .alert.alert-danger i {
    color: #f44336;
  }
  .alert.alert-success i {
    color: #4caf50;
  }

  .alert.alert-with-icon {
    margin-top: 43px;
    padding-left: 25px;
    border-radius: 3px;
  }

  .alert .close i {
    color: #FFFFFF;
    font-size:16px;
    display: none;
  }
  .alert i[data-notify="icon"] {
    display: none;
  }
  .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
  }
  .alert .alert-icon i {
    margin-top: -7px;
    top: 5px;
    position: relative;
  }
  .alert [data-notify="dismiss"] {
    margin-right: 5px;
    top: 40% !important;
  }
/*---------------------------------- 1.1 Buttons --------------------------------- */
.btn {
  border-radius: 0;
  transition: all 0.3s linear; }

.btn-primary {
  background-color: #048B3C;
  border: none; }

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #09632F;
  outline: none; }

.btn-dark {
  background-color: #000;
  border: none; }

.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:active:focus {
  background-color: #131315;
  outline: none;
  color: white; }

.btn-pagination {
  background: white;
  border-radius: 18px;
  padding: 6px 40px;
  font-weight: bold;
  color: #048B3C; }

.btn-pagination:hover, .btn-pagination:active, .btn-pagination:focus {
  color: #048B3C; }

/*---------------------------------- 1.2 Form --------------------------------- */
.form-control {
  border-radius: 0;
  height: 40px; }

/*---------------------------------- 1.3 Navbar --------------------------------- */
.navbar-green {
  background: #048B3C;
  border: none;
  border-radius: 0; }
  .navbar-green .navbar-nav > .active > a:hover {
    background: #09632F;
    color: #fff; }
  .navbar-green .navbar-toggle:focus, .navbar-green .navbar-toggle:hover {
    background: transparent; }
  .navbar-green .navbar-toggle {
    border: none; }
    .navbar-green .navbar-toggle .icon-bar, .navbar-green .navbar-toggle icon-bar:hover {
      background-color: #fff; }

.navbar-green .navbar-nav > li > a, .navbar-green .navbar-nav > li > a:focus {
  color: #fff;
  transition: all 0.3s linear; }

.navbar-green .navbar-nav > .open > a, .navbar-green .navbar-nav > .open > a:focus, .navbar-green .navbar-nav > .open > a:hover, .navbar-green .navbar-nav > li > a:hover, .navbar-green .navbar-nav > li.active > a {
  background: #09632F;
  color: #fff; }

/*---------------------------------- 1.4 Widget --------------------------------- */
.widget-box {
  margin-bottom: 50px; }
.sidebar-section .widget-box {
  width:360px;
  margin:auto;
  margin-bottom:30px;
}
.widget-header {
  background: #048B3C;
  color: #fff;
  padding: 12px 40px;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-weight: 600; }

/*---------------------------------- 1.5 Inner Slider --------------------------------- */
.inner-slider {
  background: url("../img/slider_banner.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  color: white; }
  .inner-slider h1 {
    padding: 40px 0px;
    font-weight: bold; }
  .inner-slider .container {
    position: relative; }
  .inner-slider .bread-crumb-row {
    background: #2C3544; }
  .inner-slider .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    font-size: 17px;
    padding: 15px 0px; }
    .inner-slider .breadcrumb li {
      color: white;
      font-weight: bold; }
      .inner-slider .breadcrumb li a {
        color: white; }

/*---------------------------------- 1.6 Modal --------------------------------- */
.modal-content {
  border-radius: 0; }

@media only screen and (min-width: 481px) {
  .modal-dialog {
    margin: 140px auto; } }

/* ==================================================
**                  2. Landing Page
** ================================================== */
/*---------------------------------- 2.1 Top bar --------------------------------- */
#top-bar {
  background: #131315;
  color: #fff;
  height: 40px; }
  #top-bar .container {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%; }
  #top-bar .address {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center; }
    #top-bar .address .fa {
      color: #048B3C;
      font-size: 20px;
      padding-right: 12px; }
      span.hd-smi {
        margin-left: 20px;
    }
  #top-bar .membership {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: flex-end; }
    #top-bar .membership span {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #048B3C;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 300; }
      #top-bar .membership span a {
        color: white;
        font-weight: 600; }

/*---------------------------------- 2.2 Heading --------------------------------- */
#header {
  padding: 25px; }
  #header #logo > img {
    max-width: 300px; }
  #header .search {
    margin-top: 25px; }
    #header .search .form-control {
      max-width: 300px;
      float: right; }
    #header .search .input-group-addon {
      background: #048B3C;
      color: #fff;
      height: 40px;
      border-radius: 0;
      padding: 6px 25px;
      font-size: 20px;
      border: none;
      cursor: pointer; }

/*---------------------------------- 2.3 Navgation Bar --------------------------------- */
#navgation-bar .navbar {
  margin-bottom: 0; }
#navgation-bar .nav > li > a {
  padding: 15px 25px;
  font-size: 16px; }
#navgation-bar .dropdown .fa {
  font-size: 20px;
  position: relative;
  left: 7px;
  top: 2px; }
#navgation-bar .dropdown-menu {
  border-radius: 0;
  padding: 0;
  border: 0;
  width: 100%;
  width: -webkit-fill-available; }
  #navgation-bar .dropdown-menu a {
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border-bottom: 1px solid #4e4a4a;
    transition: all 0.3s linear; }
  #navgation-bar .dropdown-menu a:hover, #navgation-bar .dropdown-menu a:focus {
    background: #131315; }

/*---------------------------------- 2.4 Slider --------------------------------- */
#slider {
  background: url("../img/slider_banner.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  color: #fff;
  position: relative; }
  #slider .text-section {
    position: relative; }
    #slider .text-section h1 {
      font-size: 42px;
      margin-bottom: 20px; }
    #slider .text-section p {
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 20px;
      padding-right: 60px; }
    #slider .text-section .btn {
      padding: 10px 35px;
      margin-right: 25px; }

/*---------------------------------- 2.4 Content --------------------------------- */
#newsGroup .news {
  margin-top: 50px; }
  #newsGroup .news .image img {
    width: 100%;
    height: auto; }
  #newsGroup .news .details {
    background: #fff;
    padding: 20px 25px; }
    #newsGroup .news .details .author {
      font-size: 18px; }
      #newsGroup .news .details .author img {
        margin-right: 15px;
        position: relative;
        top: -2px;
        height: 16px; }
    #newsGroup .news .details .header {
      color: #048B3C;
      margin-top: 14px;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 20px;
      cursor: pointer;
     }
    #newsGroup .news .details .desc {
      font-size: 16px;
      letter-spacing: 0;
      margin-bottom: 30px; }
    #newsGroup .news .details .footer {
      margin-left: -25px;
      margin-right: -26px;
      padding: 0px 25px; }
    #newsGroup .news .details .time {
      font-size: 16px;
      font-weight: bold; }
      #newsGroup .news .details .time img {
        position: relative;
        top: -1px;
        margin-right: 10px; }
    #newsGroup .news .details .button {
      float: right;
      position: relative;
      top: -21px;
      font-size: 17px; }
      #newsGroup .news .details .button a {
        color: #048B3C; }
#newsGroup .news-landscape {
  display: flex;
  flex: 1;
  height: 300px; }
  #newsGroup .news-landscape .details .header {
    margin-top: 20px;
  }
  #newsGroup .news-landscape .footer {
    border-top: 1px solid #E6E6E6;
    padding: 20px 25px !important; }
  #newsGroup .news-landscape .image img {
    width: auto;
    max-width: 360px;
    height: 300px; }

@media only screen and (max-width: 1200px) {
  #newsGroup .news-landscape {
    flex-direction: column;
    height:auto;
  }
  #newsGroup .news-landscape .image img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

#fixtures .list {
  overflow: hidden;
  padding: 21px;
  font-size: 18px;
  font-weight: bold;
  color: #444444; }
  #fixtures .list.head {
    text-align: center;
    letter-spacing: 1px; }
  #fixtures .list.list.even {
    background: #fff; }
  #fixtures .list.list.odd {
    background: #F7F7F7; }
  #fixtures .list img {
    max-width: 38px;
    margin-right: 15px; }
  #fixtures .list .left {
    position: relative;
    top: 5px; }
  #fixtures .list .right {
    display: flex;
    justify-content: space-around; }
  #fixtures .list .vs {
    text-transform: lowercase;
    background: #048B3C;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px; }

#gallery .small {
  font-size: 15px;
  position: relative;
  top: 7px; }
  #gallery .small a {
    color: white; }
#gallery .widget-body {
  margin: -1vw;
  margin-top: -1px;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }
  #gallery .widget-body div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw; }

.side-widget {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 35px 15px; }
  .side-widget .time {
    border: 2px solid #fff;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px; }
  .side-widget .date {
    letter-spacing: 3px;
    font-size: 23px;
    margin-bottom: 35px; }
  .side-widget .match {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .slider-single-fixture {
    padding-top: 35px;
    }
    .sb-single-ticket {
    padding-top: 35px;
    }
    .side-widget .match .team > div {
      margin-top: 15px;
      font-size: 18px;
      letter-spacing: 1px;
      padding-left: 10px; }
    .side-widget .match .vs {
      text-transform: lowercase;
      background: #048B3C;
      color: white;
      padding: 5px 10px;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 15px; }

.sidebar-section .fa-angle-left, .sidebar-section .fa-angle-right {
  cursor: pointer;
}

#matches .side-widget {
  background: url(../img/bg-dark-img-01.png); }
.side-widget .team img {
  max-width: 65px;
}
#tickets .side-widget {
  background: url(../img/bg-dark-img-02.png); }
#tickets .buy-ticket {
  cursor: pointer;
  background: #E00614;
  margin: 20px;
  margin-top: 0;
  padding: 7px;
  font-weight: bold;
  border-radius: 4px; }

#results .small {
  font-size: 13px;
  position: relative;
  top: -2px;
  left: 10px; }
#results .side-widget {
  background: url(../img/bg-dark-img-03.png);
  padding: 20px 15px; }
#results .team div {
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: bold; }
#results .score {
  padding-left: 0;
  margin-top: 25px; }
  #results .score .score-title {
    margin-bottom: 0;
    font-weight: 400; }
  #results .score .score-number {
    font-size: 40px;
    margin-bottom: 0; }
  #results .score.won {
    background: #048B3C; }
    #results .score.won .score-title {
      background: #E00614; }
    #results .score.won .score-number {
      background: #048B3C; }
  #results .score.loss {
    border: 2px solid #fff; }
    #results .score.loss .score-number {
      border-top: 2px solid #fff; }
#results .date-time {
  margin-bottom: -10px;
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold; }

.ads img {
  max-height: 471px;
  width: 100%; }

/*---------------------------------- 2.5 Subscribe --------------------------------- */
#subscribe {
  background: #048B3C;
  color: #fff;
  padding: 30px 10px;
  font-size: 21px; }
  #subscribe .search a {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 35px;
    border-radius: 0;
    background: #343434; }

/* ==================================================
**                  3. Footer
** ================================================== */
footer {
  background: #2C3544;
  padding-top: 70px;
  color: white; }
  footer #sponsors {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px; }
    footer #sponsors .companies {
      display: flex;
      justify-content: space-evenly;
      margin-top: 22px;
      margin-bottom: 20px;
      opacity: 0.3; }
  footer #social-media {
    text-align: center;
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #38414F;
    margin: 60px auto;
    max-width: 973px; }
    footer #social-media .title {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 1px; }
    footer #social-media .media-icons img {
      margin-right: 15px; }
  footer #bottom-bar {
    background: #1F2531;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px; }
    footer #bottom-bar ul {
      padding-left: 0; }
      footer #bottom-bar ul li {
        list-style: none;
        display: inline-block;
        padding-right: 20px; }
        footer #bottom-bar ul li a {
          color: white;
          text-decoration: none !important; }
        footer #bottom-bar ul li a:hover {
          color: #048B3C; }

/* ==================================================
**                  4. About Page
** ================================================== */
#about-page .about-title {
  margin-top: 0;
  margin-bottom: 25px;
  color: #3C3C3C;
  font-size: 24px;
  font-weight: bold; }
#about-page #top-row img {
  margin-bottom: 20px;
  width: 100%;
  height: auto; }
  @media only screen and (min-width: 769px) {
    #about-page #top-row img {
      margin-top: 50px; } }
#about-page #facilities .icon {
  text-align: center;
  margin-top: 20px; }
#about-page #facilities .title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3c3c3c; }
#about-page #facilities .body {
  text-align: center;
  margin-bottom: 35px; }
#about-page #team {
  margin-bottom: 80px; }
  #about-page #team .single-person {
    text-align: center;
    margin-top: 50px; }
  #about-page #team .photo img {
    border-radius: 50%;
    max-width: 200px; }
  #about-page #team .name {
    margin-top: 15px;
    color: #048B3C;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: bold; }
  #about-page #team .position {
    font-weight: bold; }
  #about-page #team .desc {
    margin-top: 15px; }

/* ==================================================
**                  5. Contact Page
** ================================================== */
#contact-page {
  padding-top: 100px;
  padding-bottom: 140px; }
  #contact-page .contact-info {
    margin-bottom: 8px;
    font-size: 17px;
    color: #2C3544;
    font-weight: bold; }
    #contact-page .contact-info .fa {
      margin-right: 10px; }
  #contact-page .form-control {
    margin-top: 20px; }
  #contact-page button {
    margin-top: 15px; }

/* ==================================================
**                  6. News & Events Page
** ================================================== */
#news-events .news {
  margin-bottom: 90px; }
  #news-events .news .image img {
    width: 100%; }
  #news-events .news a {
    color: #048B3C;
    font-weight: bold; }
  #news-events .news .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px; }
  #news-events .news .meta {
    color: #666;
    font-weight: bold; }
  #news-events .news .body {
    margin-top: 20px; }

/* ==================================================
**                  7. Single Team Page
** ================================================== */
#single-team .section-title {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 0; }
#single-team .section-title:first-child {
  margin-top: 0; }
#single-team .team-details {
  float: left;
  padding-left: 30px; }
#single-team .team-name {
  margin-top: 35px;
  font-size: 32px;
  font-weight: bold;
  color: #2C3544; }
#single-team .stadium {
  padding-left: 4px;
  margin-top: 4px;
  font-size: 16px; }
#single-team .url {
  padding-left: 4px;
  margin-top: 4px; }
#single-team .phone {
  padding-left: 4px;
  padding-top: 4px; }
#single-team .players .player-card {
  border-top: 2px solid #048B3C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  margin-top: 70px;
  transition: all 0.2s ease-out; }
  #single-team .players .player-card .image > img {
    width: 100%; }
  #single-team .players .player-card .details {
    overflow: hidden;
    padding: 20px 0px; }
  #single-team .players .player-card .first-name {
    color: #6D6D6D;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px; }
  #single-team .players .player-card .last-name {
    font-size: 25px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #2C3544; }
  #single-team .players .player-card .squad-no {
    color: #ccc;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 45px;
    position: absolute;
    top: -5px; }
#single-team .players .section-body a:hover .player-card {
  transform: scale(1.03); }

/* ==================================================
**                  8. Tickets Page
** ================================================== */
#tickets-page .ticket {
  background: white;
  border-left: 10px solid #048B3C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  padding-right: 0;
  margin-bottom: 25px; }
  #tickets-page .ticket .league {
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e2dfdf;
    color: #2C3544;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: none; }
  #tickets-page .ticket .ticket-details {
    background: #213c67;
    color: white;
    font-size: 15px;
    padding: 25px 10px;
    text-align: center; }
    #tickets-page .ticket .ticket-details .ticketlabel {
      color: #446bb3;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 6px;
      margin-top: 11px;
      font-weight: bold; }
  #tickets-page .ticket .title {
    padding: 45px 0px;
    font-size: 25px;
    color: #2C3544;
    font-weight: bold;
    text-align: center; }
    #tickets-page .ticket .title .buy-button {
      margin-top: 10px;
      margin-left: -35px; }
      #tickets-page .ticket .title .buy-button button {
        padding: 8px 46px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px; }
    #tickets-page .ticket .title img {
      margin-right: 22px;
      margin-left: 22px;
      max-width: 70px;
    }
    #tickets-page .ticket .title .vs {
      text-transform: lowercase;
      margin-right: 28px;
      margin-left: 25px;
      color: #6D6D6D;
      position: relative;
      top: -3px; }

/* ==================================================
**                  9. Fixture and Results Page
** ================================================== */
.fixture-result .date {
  font-size: 19px;
  color: #2C3544;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px; }
.fixture-result .matches {
  margin-top: 35px;
  margin-bottom: 70px; }
.fixture-result .single-match {
  border-top: 1px solid #ccc;
  color: #2C3544;
  padding: 15px;
  overflow: hidden; }
.fixture-result .single-match:last-child {
  border-bottom: 1px solid #ccc; }
.fixture-result .team-details {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center; }
  .fixture-result .team-details .board {
    background: #76766F;
    color: white;
    padding: 6px 15px;
    font-size: 14px;
    letter-spacing: 0;
    margin-right: 20px;
    margin-left: 20px; }
.fixture-result .stadium {
  margin-top: 5px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .fixture-result .stadium {
      margin-top: 23px; } }
  @media only screen and (max-width: 768px) {
    .fixture-result .stadium {
      margin-top: 42px;
      font-size: 16px; } }

#results .board {
  background: #2C3544; }

/* ==================================================
**                  10. Login Register Page
** ================================================== */
.login-register .box {
  background: white;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  o-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 35px 45px; }
  .login-register .box a {
    color: #048B3C; }
  .login-register .box .header {
    padding: 15px;
    color: #048B3C;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top: 35px; }
  .login-register .box .body {
    padding: 25px 20px; }
    .login-register .box .body .form-control {
      margin-top: 5px;
      margin-bottom: 25px; }
    .login-register .box .body label {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: #2C3544; }
  .login-register .box .forgot-pwd {
    float: right;
    margin-top: -15px;
    display: block;
    color: #048B3C;
    font-size: 14px;
    font-weight: bold; }
  .login-register .box .btn-section {
    margin: 75px auto auto;
    text-align: center; }
    .login-register .box .btn-section .btn-primary {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 11px 45px;
      border-radius: 5px; }
  .login-register .box .account-msg {
    margin-top: 25px;
    text-align: center;
    color: #8d8d8d;
    font-weight: bold; }

#forgot-password .btn-section {
  margin: 35px auto auto; }

/* ==================================================
**                  11. Gallery
** ================================================== */
#gallery-page img {
  margin-bottom: 20px;
  width: 100%;
  height: 250px; }
#gallery-page .title {
  font-size: 23px;
  color: #2C3544;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; }

/* ==================================================
**                  12. Single Player
** ================================================== */
.player-slider {
  height: 300px;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .player-slider .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, black 200%); }
    @media only screen and (max-width: 768px) {
      .player-slider .gradient-overlay {
        background: rgba(0, 0, 0, 0.5); } }
  .player-slider #player-info {
    position: relative;
    height: 100%; }
  .player-slider .player-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 100%; }
    @media only screen and (max-width: 768px) {
      .player-slider .player-bg {
        align-items: center; } }
    .player-slider .player-bg h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 45px;
      letter-spacing: 1px; }
    .player-slider .player-bg .squad-no {
      letter-spacing: 0px !important;
      font-family: sans-serif;
      font-size: 61px !important;
      margin-top: -5px; }

#single-player {
  padding-bottom: 150px; }
  #single-player .box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }
    #single-player .box .image img {
      width: 100%; }
    #single-player .box .box-content {
      padding: 25px 15px;
      background: white; }
      #single-player .box .box-content .title {
        font-weight: bold;
        color: #2C3544;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc; }
      #single-player .box .box-content td {
        border: none;
        font-weight: bold;
        font-size: 18px; }
      #single-player .box .box-content td:first-child {
        color: #2C3544; }
  #single-player .player-details {
    line-height: 26px; }
    #single-player .player-details h1, #single-player .player-details h2, #single-player .player-details h3, #single-player .player-details h4, #single-player .player-details h5, #single-player .player-details h6 {
      color: #2C3544; }
    #single-player .player-details p {
      font-size: 16px; }

/* ==================================================
**                  13. User Profile
** ================================================== */
#profile-banner {
    min-height: 270px;
    background: url('../img/slider_banner.jpg') center center;
    background-size: cover;
    position: relative;
}
h1.banner-title {
    color: white;
    margin: 0;
    position: relative;
    text-align: center;
    padding-top: 104px;
    font-weight: 500;
}
#user-section {
    background:#F0F0F0;
}
#user-image, #user-name {
    text-align:center;
}
#user-image img {
    border-radius: 50%;
    width: 150px;
    margin-top:-80px;
    position: relative;
}


#payment-form .form-control {
  margin-top:16px;
}
