/*

  primary-color: #355089

*/
.card {
  margin-bottom:55px;
}
.page-loader {
    text-align: center;
    top: 40%;
    left: 30%;
    position: fixed;
}
.page-loader>img {
    width: 6%;
}
.page-loader-text {
    margin-top: 15px;
}
/* =============================================
                  Style Reset
/* ============================================= */
.table > thead > tr > th {
  font-size: 17px;
}
.main-panel, .main-panel {
    overflow-y: auto;
  }
  .perfect-scrollbar-on .sidebar .sidebar-wrapper, .sidebar .sidebar-wrapper, .perfect-scrollbar-on
  .main-panel, .main-panel {
  overflow: auto !important;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.form-group.is-focused .form-control, .btn-group.bootstrap-select.show-tick.open .select-with-transition {
      background-image: linear-gradient(#355089, #253a67), linear-gradient(#D2D2D2, #D2D2D2) !important;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    background-color: #355089;
}
  .form-control, .form-group .form-control {
    font-weight: bold;
  }
.bs-placeholder>.filter-option {
    color: #AAAAAA;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-transform: capitalize;
}
.activeSelect {
  background-image: linear-gradient(#253a67, #355089), linear-gradient(#253a67, #355089);
  background-size: 100% 2px, 100% 1px;
}
.select-with-transition .caret, .select-with-transition .ripple-container {
  display: inline-block;
  color: #AAA;
}
/* =============================================
                  Sidebar
/* ============================================= */
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 4px 0px 0;
}
.sidebar .nav li:first-child > a, .off-canvas-sidebar .nav li:first-child > a {
    margin: 0;
}
.nav li.panel {
    margin-bottom: 0;
    border-bottom: 1px solid #364a73;
}
/* =============================================
                  Navbar
/* ============================================= */
.navbar.navbar-blue {
    background: #355089;
    color: white;
    padding-top: 10px;
    border-radius: 0;
}
.main-header-section {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding-top: 13px;
}

.wizard-card[data-color="rose"] .moving-tab {
      background-color: #355089;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(42, 91, 193, 0.4);
}
#datatables th {
    background: #355089;
    color: white;
    padding-top: 9px !important;
    padding-bottom: 8px !important;
}
table.dataTable > thead > tr > th, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > tbody > tr > td, table.dataTable > tfoot > tr > td {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
td {
    font-size: 16px;
    font-weight: 400;
}
label.col-sm-2.label-on-left {
    text-align: left !important;
}
body#login {
  /*background: url('../img/login.jpeg') center center;*/
  background: #6a85ab;
background-size: cover;
position: relative;
}
.card .card-title {
  font-weight: 400;
}
div#ov1erlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    background: rgba(0, 0, 0, 0.5);
}
.card-header.text-center {
      background: #3aaf85;
}
.login-page > .content, .lock-page > .content {
    padding-top: 25vh;
}
.sidebar .nav p, .off-canvas-sidebar .nav p {
  font-size: 14px;
  font-weight: 400;
}
.sidebar[data-active-color="rose"] li.active > a, .off-canvas-sidebar[data-active-color="rose"] li.active > a {
    background: #355089;
    box-shadow: none;
}

.sidebar .nav li:hover > a, .sidebar .nav li.active > [data-toggle="collapse"], .off-canvas-sidebar .nav li:hover > a, .off-canvas-sidebar .nav li.active > [data-toggle="collapse"] {
  background: #355089;
  box-shadow: none;
}
.sidebar:before, .sidebar:after, .off-canvas-sidebar:before, .off-canvas-sidebar:after {
  background: #253a67;
}
.label {
  box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
  font-size: 13px;
}
.label-danger {
  background-color: #f44336;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #355089;
}
.btn-success {
  background-color: #355089 !important;
}
.btn.btn-person {
  background-color: #208981;
}
.btn.btn-person:hover, .btn.btn-person:active, .btn.btn-person:focus {
  background-color: #0E736C;
}
.btn {
  font-weight: 600;
    font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(58, 175, 133, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}
.form-input {
  display: none;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    color: #333;
}
.loader {
  display: none;
}
.loader img {
    width:3%;
}
.alert span, .alert .close i {
  font-weight: 500;
}
.sp-select {
    font-size: 14px;
    padding-top: 0px;
    top: -6px;
}
.sp-save-btn-row {
  text-align: center;
}
button#submit {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.form-group-sm .form-control {
  font-size: 16px;
}
table.dataTable > thead > tr > th, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > tbody > tr > td, table.dataTable > tfoot > tr > td {
  font-size: 17px;
  font-weight: 400;
}
.sp-alert {
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  display: none;
}
.sp-alert-danger {
  color: red;
}
.sp-alert-success {
  color: green;
}
a.navbar-brand {
    font-weight: 500;
    font-size: 28px;
}
.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  font-size: 14px;
}

.sidebar .nav>li>div>ul>li a {
    box-shadow: none !important;
    font-weight: 500;
    transition: all 0.2s linear;
}
.sidebar .nav>li>div>ul>li:hover a {
    /*color: #3aaf85;
    background: transparent;
    font-size: 16px;*/
}
.sidebar .nav>li>div>ul>li:hover a, .sidebar .nav>li>div>ul>li.active a {
    background: #192d56;
}
table > thead > tr > th {
    font-weight: 500 !important;
}
.content {
    overflow: hidden;
}
li.nav-title {
    margin: 30px 0px 0px;
    padding: 10px 15px;
    color: white;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    background: #21335a;
}
li.nav-title i {
    position: relative;
    top: -5px;
    left: 12px;
    font-size: 20px !important;
}
.nav>li.sub>a {
  padding: 10px 58px;
  margin-right: 0px;
  margin-left: 0px;
}
div#dashboard-title-bar {
    text-align: center;
        margin-top: -30px;
}
h3#dashboard-title {
    font-weight: 500;
}
.card [data-background-color="rose"], .card [data-background-color="purple"] {
    background: #355089;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(42, 91, 193, 0.4);
}
.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(51, 122, 183, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 122, 183, 0.4);
}
.sp-add-btn {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
}
/* ========================================= */
/*           Create Employee                 */
/* ========================================= */

#choose-agency,#choose-branch, #contract-end {
  display: none;
}
.input-group .input-group-addon {
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 16px;
}

/* ========================================= */
/*           Single Employee                 */
/* ========================================= */
.se-single-data.row:nth-child(odd) {
    background: #dcecf9;
}

div#prfl-intro {
    text-align: center;
}
h3#prfl-name {
    font-weight: 400;
}
img#prfl-img {
    width: 150px;
}
#tabs>ul.nav>li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
#tabs>ul.nav>li>a {
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #3aaf85;
}
li.nav-item.active>a {
    color: white !important;
    background: #3aaf85;
}
div#tabs {
  text-align: center;
      margin-top: 40px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 50px;
}
span.se-label {
    font-weight: 400;
    font-size: 17px;
}
span.se-value {
    font-size: 17px;
    float: right;
    letter-spacing: 1px;
}
.se-single-data {
  margin-left: 15px;
margin-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
}
.container {
    max-width: 100%;
}
span.training-label {
    font-size: 18px;
    font-weight: 500;
}
span.training-value {
    font-weight: 300;
    font-size: 17px;
}
.training-row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ece9e9;
}
.training-modal-header.modal-header {
    background: #355089;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
.training-modal-header h4.modal-title {
    font-weight: 400;
}
.training-modal-header button.close {
    color: white !important;
    padding-top: 6px;
}
/* ========================================= */
/*           Training & Certification        */
/* ========================================= */
.training-input, .certification-input, .qualification-input, .emp-extra-input, .username-input, .password-input{
  display: none;
}
/* ========================================= */
/*           All Employee                 */
/* ========================================= */

div#top-bar {
    background: white;
    padding-right: 50px;
    padding-left: 20px;
}
form#employee-search {
    margin-top: 3px;
}
#employee-search .form-control {
    /*width: 200px;*/
}
.single-box a {
    color: #3C4858;
}
.single-box {
    background: white;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.emp-image {
    margin-top: 22px;
    margin-bottom: 10px;
}
.single-box {
  transition: all 0.5s ease-in-out;
  min-height: 234px;
}
.single-box:hover {
  transform: scale(1.1);
}
div#branch-agency-select {
    margin-top: 16px;
    margin-bottom: -5px;
}

/* ========================================= */
/*           Create Employee                 */
/* ========================================= */

.add-emp-row {
    margin-top: 25px;
}
.add-emp-row>h3 {
  font-size: 22px;
  font-weight: 400;
  color: #efefef;
  padding-left: 10px;
  margin-top: 10px;
}
